:root {
    --cor-background: #EBECEE;


}

/* 
index
-criada estrutura HTML
-adicionado link CSS
styles
-criada :root CSS
-criado reset CSS
*/


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-background);
}