.banner{
    background: var(--cor-item-menu);
    color:var(--header-background);
    text-align: center;
    padding: 2.5em 2em;
    
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-size: 16px;
    font-weight: 500;
    line-height: normal; 
    margin: 1em 0;
}

.banner__pesquisa {
    font-weight: 400;
}