/* .carrosel {
    
} */

.carrossel__titulo {
    background-color: var(--header-background);
    color: var(--cor-titulo-menu);
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    padding: 1em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

/* ---------------------------------------- Media Queries 1024px --------------------------------------- */

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 1.625em;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;

    }
    
    .swiper { 
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
    display: block;
    top: 60%;
    }
}



