/* .carrosel {
    
} */

.carrossel__titulo {
    background-color: var(--header-background);
    color: var(--cor-titulo-menu);
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    padding: 1em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}