.contato {
    background-color: var(--cor-principal);
    padding: 1em;
}

.contato__titulo, .contato__texto {
    background: var(--cor-secundaria);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.125em;
    font-weight: 500;
}

.contato__texto {
    font-size: 1em;
    font-weight: 300;
    margin: 1em 0 ;
   
}

.contato__input {
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
    border-radius: 1.5em;
    width: 90%;
    padding: 1em; 
}

.contato__input::placeholder {
    font-family: var(--fonte-principal);
    color: var(--cor-titulo-card); 
    background-image: url(../imagens/Email.svg);
    background-repeat: no-repeat;
    padding: 0 2em;
}

/* ------------------------------------   Media Query 1024px -------------------------------------------*/
@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .contato__descricao{
        width: 30%;
    }

    .contato__titulo {
        font-size: 1.5em;
    }

    .contato__input {
        width: 30%;
        height: 30%;
        margin-right: 10em;
    }
}