.cabecalho {
    background-color: var(--header-backgroung);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*posicionado relativo a sua posição original*/
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../imagens/Menu.svg);
    background-repeat: no-repeat;       /* Impede o menu hamburguer de se repetir */
    background-position: center;        /* força o icone do menu hamburguer ficar no centro */
    display: inline-block; 
}

.container {
    display: flex;
    align-items: center;
}

.lista-menu {
    display:none;
    position:absolute;
    top: 100%;
}

.container__checkbox:checked ~ .lista-menu { 
    display:block;
}

.container__imagem {
    padding: 1em;       /* cria um espaçamento entre os icones */
}