.cabecalho {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*posicionado relativo a sua posição original*/
}

.cabecalho__titulo {
    display:none;
}

.menu--barra {
    display:none;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../imagens/Menu.svg);
    background-repeat: no-repeat;       /* Impede o menu hamburguer de se repetir */
    background-position: center;        /* força o icone do menu hamburguer ficar no centro */
    display: inline-block; 
}

.container {
    display: flex;
    align-items: center;
}

.container__checkbox{
    display: none;
}

/* -----------------  Customizando o menu-hambúrguer quando é clicado ---------------------------- */ 
.container__checkbox:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../imagens/MenuAberto.svg"); 
}

.container__checkbox:checked ~ .container__rotulo {
    background: var(--cor-gradiente);
}
/* ----------------------------------------------------------------------------------------------- */
.lista-menu {
    display:none;
    position:absolute;
    top: 100%;
    width: 60vw; /* 60% do viewport */
}

.lista-menu__titulo, 
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-principal);
}

.lista-menu__titulo {
    color: var(--cor-destaque);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__checkbox:checked ~ .lista-menu { 
    display:block;
    
}


.container__imagem {
    padding: 1em;       /* cria um espaçamento entre os icones */
}

.icone--favoritos {
    display: block;
}

.container__texto {
    display:none;
}

/* ----------------------------------- Media Queries 1024px ----------------------------------------- */

@media screen and (min-width:1024px) {
    .cabecalho__titulo,
    .cabecalho__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 1.8rem;
    }

    .cabecalho__titulo {
        font-weight: 400;
        display: block;
        margin-right: 2em;
    }

    .cabecalho__titulo--negrito {
        font-weight: 700;
    }

    .menu--barra {
        display:flex;
        
    }

    .menu--barra__item {
        text-transform: uppercase;
        padding: 1em;
    }

    .menu--barra__link {
        color: var( --cor-extra-black);
        font-size: 1em;
        text-decoration: none;
    }

    .cabecalho__menu-hamburguer {
        display:none;
    }

    .icone--favoritos {
        display: none;
    }

    .menu--barra__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .menu--barra__botao {
        display: none;
    }
/* -----------------  Customizando o menu quando é clicado e no hover ---------------------------- */ 
    .menu--barra__botao:checked ~ .opcoes__rotulo > .menu--barra__item {
        background: var(--cor-gradiente);
        color:var(--cor-principal);
    }

    .lista-menu__item:hover {
        background: var(--cor-gradiente);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--cor-principal);
        text-decoration: none;
    }
    
}

/* ----------------------------------- Media Queries 1728px ----------------------------------------- */

@media screen and (min-width: 1728px){
    .container__link {
        display: flex;
        align-items: center;
        color: var(--cor-extra-black);
        text-decoration: none;

    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .menu--barra {
        margin-right: auto;
        
    }

    .icone--favoritos {
        display: none;
    }

    .container__texto {
        display:block;
    }
}
