.card-recomendacao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;              
    background-color: var(--header-background);
    margin: 1em;
    border-radius: 10px;
    background: var( --header-background);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



.card-recomendacao__content {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}


.card-recomendacao__content__text {
    display: flex;
    flex-direction: column;
    margin: 1em 0 1em 1em;
}

.card-recomendacao__content__text-h3 {
    color: var(--cor-titulo-menu);
    font-size: 1em;
    font-weight: 700;
    line-height: normal;
}

.card-recomendacao__content__text-h2{
    color: var(--cor-titulo-card);
    font-size: 1.125em;
    font-weight: 700;
    line-height: normal;
    margin: 0.5em 0;
}

.card-recomendacao__content__text-p {
    color: rgba(0, 0, 0, 0.85);
    font-size: 0.875;
    font-weight: 400;
    line-height: normal;
}

.card-recomendacao__content__capa-livro-imagem{
    margin: 1em;
    /* width: 100%;
    height: 100%; */
} 

.card-recomendacao__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    margin: 1em;
}

.card-recomendacao__footer-icon {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}



.card-recomendacao__footer-botao {
    color: var(--header-background);
    background-color: var(--cor-titulo-menu);
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;
    padding: 1em 2.2em ;
}