.card-recomendacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;              
    width: auto;
    height: auto;
    margin: 1em;
    padding: 1em;
    background-color: var(--header-background);
    border-radius: 10px;
    background: var( --header-background);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

.card-recomendacao__content {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    /* width: 50%; */
}

.card-recomendacao__img {
    width: 50%;
}

.card-recomendacao__content__text-h3 {
    color: var(--cor-titulo-menu);
    font-size: 1em;
    font-weight: 700;
    line-height: normal;
}

.card-recomendacao__content__text-h2{
    color: var(--cor-titulo-card);
    font-size: 1.125em;
    font-weight: 700;
    line-height: normal;
    margin: 0.5em 0;
}

.card-recomendacao__content__text-p {
    color: rgba(0, 0, 0, 0.85);
    font-size: 0.875em;
    font-weight: 400;
    line-height: normal;
}

.card-recomendacao__footer-icon {
    display: flex;
    flex-direction: row;
    margin: 1em 0 0 0;
        gap: 0.5em;
}
.card-recomendacao__side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    
}
.card-recomendacao__capa-livro {
    width: min-content;
    height: min-content;
    margin: 1em;
    width: auto;
    height: auto; 
}

.card-recomendacao__side-botao {
    color: var(--header-background);
    background-color: var(--cor-titulo-menu);
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;
    padding: 1em 1.5em ;
}

/* --------------------------------------- Media Query 1024 ---------------------------------------------*/

@media screen and (min-width: 1024px) {
    .card-recomendacao {
        width: 40%; 
        margin: 2em auto;
    }
}
/* ---------------------------------------- Media Queries 1728px --------------------------------------- */

@media screen and (min-width: 1728px) {
    .card-recomendacao__content__text-h3 {
        font-size: 2em;
    }

    .card-recomendacao__content__text-p {
        font-size: 1em;
    }    
}