@import url(../styles/header.css);
@import url(../styles/banner.css);
@import url(../styles/carrossel.css);
@import url(../styles/recomencao.css);
@import url(../styles/topicos.css);
@import url(../styles/contato.css);
@import url(../styles/rodape.css); 

:root {
    --cor-background: #EBECEE;
    --header-background: #FFFFFF; 
    --cor-titulo-menu: #EB9B00;
    --cor-item-menu: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --cor-titulo-card: #002F52;
    
    --cor-principal: #FFFFFF;
    --cor-secundaria: #002F52;
    --cor-destaque: #EB9B00;
    --cor-detalhe: #EBECEE;
    --cor-gradiente: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);

    --cor-extra: #474646;
    --cor-extra-claro: #858585;
    
    --fonte-principal: "Poppins", serif;
    --fonte-secundaria: "Josefin Sans", serif;
}

body {
    background-color: var(--cor-background);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
}
