.topicos {
    background: var(--cor-gradiente);
    color: var(--cor-principal);
    text-align: center;
}

.topicos-h3 {
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    padding: 1em 0;
    /* margin: 1em 0; */
}

.topicos__list-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__list-item {
    background-color: var(--cor-destaque);
    padding: 1em 2em;
    margin: 1em 0.5em;
}

.topicos__link {
    color: var(--cor-principal);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

/* --------------------------------------- Media Query 1024 ---------------------------------------------*/

@media screen and (min-width: 1024px) {
    .topicos-h3 {
        font-size: 1.5em;
    }

    .topicos__link {
        font-size: 1.5em;
    }
    
}